body {
  font-family: "Comfortaa", sans-serif;
}

table {
  width: 500px;
  border-collapse: collapse;
}
th {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(175, 217, 217);
}
td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}
.pink {
  color: darksalmon;
}
